body {
    margin: 1vw;
    background-color: rgb(248, 80, 80);
}

.reg_form {
    display: flex;
    flex-direction: column;

    input[type="text"]{
        background-color: green;
        border: 1px solid orange;
        color: white;
    }
    input[type="submit"]{
        background-color: yellow;
        border: 1px solid red;
    }
}