<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../css/reg.css">
</head>
<body>
    <div class="reg_form">
        <form action="">
            <label for="">Имя</label><br>
            <input type="text" name="name"><br><br>
            <label for="">Фамилия</label><br>
            <input type="text" name="surname"><br><br>
            <label for="">Телефон</label><br>
            <input type="text" name="phone"><br><br>
            <input type="submit" value="Подтвердить">
        </form>
    </div>
</body>
</html>